* {
    font-family: 'Poiret One' !important;
}

body {
    background-color: #B4CDCD;
  }
  
  .header {
    background-position: center center;
  }

  .header img {
    height: 300px;
    width: 200px;
    display:block;
    margin:auto;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #fff;
    overflow: auto;
    width: 75%;
    border-radius: 50px;
    align-self: center;
  }

  .sofiapics {
    width: 50%;
    float: left;
    text-align: center;
  }

  #casa {
    height: 350px;
    width: 400px;
  }
  
  #christmas {
    height: 350px;
    width: 300px;
  }  
  
  h1 {
    color: #fff;
    font-size: 8vh;
    position: relative;
    text-align: center;
  }
  
  h2 {
    color: #ffbac7;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }

  #lastPics {
    text-align: center;
  }

  #blanket {
    height: 300px;
    width: 250px;
    margin-right: 15px;
  }

  #qts {
    height: 300px;
    width: 230px;
    margin-right: 15px;
  }

  #zleep {
    height: 300px;
    width: 230px;
  }

  footer {
    text-align: center;
    font-size: medium;
    margin-bottom: 15px;
  }