* {
    font-family: 'Poiret One' !important;
}

body {
    background-color: #B4CDCD;
  }
  
  .header {
    background-position: center center;
  }

  .header img {
    height: 300px;
    width: 200px;
    display:block;
    margin:auto;
  }
  
  .sofia {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #fff;
    overflow: auto;
    width: 75%;
    border-radius: 1%;
    align-self: center;
    text-align: center;
    border: 3px solid #ffbac7;
  }

  #casa {
    height: 300px;
    width: 250px;
  }
  
  #christmas {
    height: 300px;
    width: 250px;
  }  
  
  h1 {
    color: #fff;
    font-size: 8vh;
    text-align: center;
  }
  
  h2 {
    color: #ffbac7;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }

  #lastPics {
    text-align: center;
  }

  #blanket {
    height: 300px;
    width: 250px;
  }

  #qts {
    height: 300px;
    width: 230px;
  }

  #zleep {
    height: 300px;
    width: 230px;
  }

  footer {
    text-align: center;
    font-size: medium;
    margin-bottom: 15px;
  }